
[options]
memory_model    = 64        ; 32 or 64 (default is 32)
pointer_check   = no        ; default is yes
array_check     = yes       ; default is yes
assertion_check = yes       ; default is yes

[symbols]
; TEMENOS = 0

[library]
dir = ../BOOT/

